<div>
  <div>
    <label for="name">Nom :</label>
    <input [(ngModel)]="name" id="name" name="name" type="text">
  </div>
  <div>
    <label for="price">Prix :</label>
    <input [(ngModel)]="price" id="price" name="price" type="number">
  </div>
  <div>
    <label for="promo">Promo :</label>
    <input [(ngModel)]="promo" id="promo" name="promo" type="number">
  </div>
  <div>
    <label for="quantity">Quantité</label>
    <input [(ngModel)]="quantity" id="quantity" name="quantity" type="number">
  </div>
  <button (click)="AddProduct()">Ajouter</button>
</div>
<div>
  <ul>
    <li *ngFor="let p of products">
      <app-product-card [id]="p.id" (refreshEvent)="onRefresh()"></app-product-card>
    </li>
  </ul>
  <div>Le total est : {{total | currency :'EUR' :'symbol':'1.2-2'}}</div>
</div>
